{% extends 'main/base.html' %}
{% load static %}
{% block image1 %}
        <img alt="background" src= "https://cdn.discordapp.com/attachments/812010624301269012/871063752089415720/dance.jpeg"/>
{% endblock %} 

{% block infotext %}
<section class="text-center" style="background-color: #70fc54;">

    <div class="container"  >

        <div class="row justify-content-center">
            <h1> 
            <strong style="font-family: 'Girassol', cursive; font-size: 6rem ;"> Rythm-Reset </strong>
        </h1>

        <div class="row justify-content-center">
            <div class="jumbotron jumbotron-fluid">
                <hr>

                
                <blockquote class="blockquote mb-10" style="font-family: 'Girassol', cursive; font-size: 2.5rem ;">

                    <p class="mb-4" > Dance is poetry with your limbs. It is your pulse, your heartbeat, your breathing. It's the rhythm
                        of your life
                        
                        </p>
   
    
                  </blockquote>
                  <hr>
                <h4  style="font-family: 'Montserrat', sans-serif; font-size: 2rem ;">
                    Be one with the tunes.
                    <br>
Showcase your dexterity to a fusion of retro and nonce tunes!       
                    </h4>
             
              </div>
        
                
                    
        
        </div>
        <!--end of row-->
    </div>
</section>

<!--end of container-->
{% endblock %}

{% block check2ndimage %}
            <section class="cover height-100 imagebg">
                <div class="background-image-holder">
                    <img alt="background" src="https://cdn.discordapp.com/attachments/812010624301269012/871063880531603468/Rules.png" />
                </div>
            </section>
{% endblock %}
{% block checkregister %}
          <section class="text-center imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-6">
                        <div class="cta">
                            <h2 class="h1 type--uppercase">
                                <em>
                                    <strong>Come register for an event 
                                        <br class="hidden-sm hidden-xs"> (&hellip;or two)</strong>
                                </em>
                            </h2>
                            <p class="lead">
                                First create an account or login if you aldready do have one. Then, Register duh
                            </p>
                            <a class="btn btn--primary type--uppercase" href="#">
                                <span class="btn__text">
                                    Register 
                                </span>
                              
                            </a>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
         </section>
{% endblock %}