{% extends 'main/base.html' %}

{% load static %}
{% block image1 %}
        <img alt="background" src= "{% static 'main/img/fashion.png' %}"/>
{% endblock %} 

{% block infotext %}
<!-- <section class="text-center bg--light " style="background-image: ur;">

<div class="container">
    
    </div>

</div>
</section> -->
<section class="text-center "  style="background-color: #d3aa1b;">
    <!-- style="background-image: url(https://cdn.discordapp.com/attachments/812010489248088088/838058154024763392/fashiontext.jpeg); background-size: cover   ;" -->

    <div class="container"  >

        <div class="row justify-content-center">
                <h1 class="text-center"  >

                    <em>
                        <strong style=" font-family: 'Yellowtail', cursive; font-size: 6rem ;">   Avant-Gardiste </strong>
                    </em>
                </h1>
                <div class="row justify-content-center">
                    <div class="jumbotron jumbotron-fluid">
                        
                        <hr class="my-5">
                        <blockquote class="blockquote mb-10" style="font-family: 'Yellowtail', cursive; font-size: 3rem ;">
                            <p class="mb-4" >"The secret of great style is to feel good in what you wear"</p>
                             <em> 	-Ines de la Fressange </em> 
            
                          </blockquote>
                        <h4 style="font-family: 'Yellowtail', cursive;   font-size: 2rem ;">
                            Fashion has not only been a vital part of popular culture, but very often, a person’s style is the first thing that strikes us and it is something that reflects a person’s creativity, perspective, and confidence. And we are giving you the opportunity to express, create and innovate! 
                            .</h4>
                     
                      </div>
                
                    
        
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<!--end of container-->
{% endblock %}

{% block check2ndimage %}
            <section class="cover height-100 imagebg">
                <div class="background-image-holder">
                    <img alt="background" src="{% static 'main/img/avante.png'%}" />
                </div>
            </section>
{% endblock %}
{% block checkregister %}
          <section class="text-center imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-6">
                        <div class="cta">
                            <h2 class="h1 type--uppercase">
                                <em>
                                    <strong>Come register for an event 
                                        <br class="hidden-sm hidden-xs"> (&hellip;or two)</strong>
                                </em>
                            </h2>
                            <p class="lead">
                                First create an account or login if you aldready do have one. Then, Register duh
                            </p>
                            <a class="btn btn--primary type--uppercase" href="#">
                                <span class="btn__text">
                                    Register 
                                </span>
                              
                            </a>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
         </section>
{% endblock %}