{% extends 'main/base.html' %}
{% load static %}
{% block image1 %}
        <img alt="background" src= "{% static 'main/img/hack.png' %}"/>
{% endblock %} 

{% block infotext %}
<section class="text-center text-danger" style="background-color: black;">

    <div class="container  justify-content-center"  >
        
        <div class="row justify-content-center">
            <h1> 
                <strong class =" text-danger " style="font-family: 'Montserrat', sans-serif; font-size: 4rem ;"> Hack from the Past </strong>
            </h1>
    
            <div class="jumbotron jumbotron-fluid">
                <div class = " mb-5" style="height: 4px; background-color: #EAEFF5"></div>

                
                <blockquote class="blockquote mb-10" style="font-family: 'Montserrat', sans-serif;   font-size: 3.2rem ; color: #727372;">

                    <p class="mb-4" > In the age of technology, cyber skills are critical. Flaunt your algorithmic prowess in the
                        hackathon of the year - Hack from the past!
                        
                        </p>
   
    
                  </blockquote>
                  <hr>
                <h4  style="font-family: 'Montserrat', sans-serif;  font-size: 2.5rem ; color: #b77b7b;">
                    An event to tickle your brains and make you speculate, scrutinize, eulogize and be enthralled.   
                    </h4>
             
              </div>
        
                
                    
        
        </div>
        <!--end of row-->
    </div>
</section>

<!--end of container-->
{% endblock %}

{% block check2ndimage %}
            <section class="cover height-100 width-200 imagebg">
                <div class="background-image-holder">
                    <img alt="background" src="{% static 'main/img/hacking.png'%}" />
                </div>
            </section>
{% endblock %}
{% block checkregister %}
          <section class="text-center imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-6">
                        <div class="cta">
                            <h2 class="h1 type--uppercase">
                                <em>
                                    <strong>Come register for an event 
                                        <br class="hidden-sm hidden-xs"> (&hellip;or two)</strong>
                                </em>
                            </h2>
                            <p class="lead">
                                First create an account or login if you aldready do have one. Then, Register duh
                            </p>
                            <a class="btn btn--primary type--uppercase" href="#">
                                <span class="btn__text">
                                    Register 
                                </span>
                              
                            </a>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
         </section>
{% endblock %}