{% extends 'main/base.html' %}
{% load static %}

{% block image1 %}
        <img alt="background" src= "{% static 'main/img/main.png' %}"/>
{% endblock %} 

{% block infotext %}
<section class="text-center bg--light ">

<div class="container col-xs-10 col-sm-5 col-md-9 ">
    <div class="row justify-content-center  w-xs-8 w-md-10">

        <h1  >
            <strong style="font-family: 'Zen Tokyo Zoo', cursive; font-size: 5.5rem ;">TIMELAPSE</strong>
        </h1>
 

        <div class = " mb-4" style="height: 4px; background-color: black"></div>

           
            <h2  style="font-family: 'Zen Tokyo Zoo', cursive; font-size: 2.5rem ; font-weight: 300;
                     @media (min-width: 544px) {  
                          h1 {font-size:1.5rem;} /*1rem = 16px*/
                        }       "><b> 
                Human need  for connection is timeless <br> 
                Time and time again we all love some healthy competition <br> 
                We at NPS-RNR present to you <br> <em style="font-size: 4rem;"><strong> Timelapse 21 </strong> </em> <br> 
                <BR>    
                In light of the current situation travel isn't recommended.  So how do you feel about time travel? <br> 
                 We want to take you away a from the present wayyy back in the past or fast forwarding to the future. <br> 
                     Can you bring back the past and envision the future?
                Do you think you have what it takes to be a timeless champion?
                <br>
                <br>    
                <em>Remember time waits for none. Register fast before the clock runs out </em>      
                    </b>
                </h2>
        </div>
    </div>
    <!--end of row-->
</section>
{% endblock %}


{% block checkregister %}
          <section class="text-center imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-6">
                        <div class="cta">
                            <h2 class="h1 type--uppercase">
                                <em>
                                    <strong>Register for an event  
                                        <br class="hidden-sm hidden-xs"> (&hellip;or two)</strong>
                                </em>
                            </h2>
                            <p class="lead">
                                First create an account. Then, register for induvidual events after checking the schedule 
                            </p>
                            <a class="btn btn--primary type--uppercase" href="#">
                                <span class="btn__text">
                                    Register 
                                </span>
                              
                            </a>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
         </section>
{% endblock %}


{% block events %}
<section class="text-center bg--dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-20 col-lg-20">
                
                <p class="type--uppercase" style="font-size: 1.5rem;">
                    <em>
                        Our nerve-wracking but fun-filled events which will require you to bring out your quills, <br> 
                        equip your controllers and keyboards, practice your best moves and songs, <br> 
                        wear your thinking cap and take part wholeheartedly and prove your <br> 
                        <em> <b> inner champion. </b></em>
                        
                    </em>
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section >
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="feature feature-1">
                    <img alt="Image" src="{% static 'main/img/bg.png'%}" />
                    <div class="feature__body boxed boxed--lg boxed--border">
                        <h3 class="type--uppercase">
                            <em>
                                <strong>Events</strong>
                            </em>
                        </h3>
                        <p class="lead">
                            event event something you add boss
                        </p>
                        <a href="">
                            Learn More
                        </a>
                    </div>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="feature feature-1">
                    <img alt="Image" src="{% static 'main/img/bg.png'%}" />
                    <div class="feature__body boxed boxed--lg boxed--border">
                        <h3 class="type--uppercase" style="color: black;"
                            <em>
                                <strong>About Us</strong>
                            </em>
                        </h3>
                        <p class="lead">
                            team team soemthing you add boss
                        </p>
                        <a href="#">
                            Learn More
                        </a>
                    </div>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}


{% block checkemail %}
<section class="text-center">
    <div class="tab__content">
        <section class="switchable bg--light">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-5">
                        <img alt="Image" class="border--round box-shadow-wide" src="{% static 'main/img/formwalapic.jfif' %}" />
                    </div>
                    
                    
                    
                    <div class="col-md-6 justify-content-center">
                        
                        <div class="row mx-0 switchable__text flex-column">
                            <p class="lead">
                                E:
                                <a href="#">Akshathraghav.r@gmail.com</a>
                                <br> P: +91 7483100834
                            </p>
                            
                            <p class="lead">
                                We are available from 9am &mdash; 6pm on Discord and Gmail
                            </p>
                            <hr class="long">
                            <form action = "{% url 'emailsend-main' %}"  class="form-email row" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly.">
                                {% csrf_token %}
                                <div class="col-md-6">
                                    <label>Your Name:</label>
                                    <input type="text" name="message-name"   />
                                </div>
                                <div class="col-md-6">
                                    <label>Email Address:</label>
                                    <input type="email" name="message-email"  />
                                </div>
                                <div class="col-md-12">
                                    <label>Message:</label>
                                    <textarea rows="4" name="message" class="validate-required"></textarea>
                                </div>
                                <div class="col-md-5 col-lg-4">
                                    <!-- <a  href='/users/sendemail/'></a>-->
                                     <button type="submit" class="btn btn--primary type--uppercase">Send</button> 

                                </div>
                            </form>
                        
                        </div>

                        <!--end of row-->
                    </div>

                </div>

                <!--end of row-->
            </div>
        </section>
    </div>
  </section>
{% endblock %}



