{% extends 'main/base.html' %}
{% load static %}
{% block image1 %}
        <img alt="background" src= "{% static 'main/img/poetry.png' %}"/>
{% endblock %} 



{% block infotext %}
<section class="text-center bg--light">
    <div class="container"  >

        <div class="row justify-content-center">
        <h1> 
            <strong class =" text-dark " style="font-family: 'Montserrat', sans-serif; font-size: 5rem ;">  Plume et Papier </strong>
        </h1>

        <div class="row justify-content-center">
            <div class="jumbotron jumbotron-fluid">
                <div class = " mb-5" style="height: 4px; background-color: black"></div>

                
                <blockquote class="blockquote mb-10" style="font-family: 'Montserrat', sans-serif;   font-size: 3.5rem ; color: #727372;">

                    <p class="mb-4" > 
                        When all seems black, words shine through. Make your own destiny and change the way history
                        unfolds in these works of literature.
                        
                        </p>
   
    
                  </blockquote>
                  <div class = " mb-5" style="height: 4px; background-color: black"></div>
                
                <h4  class =" text-dark "   style="font-family: 'Montserrat', sans-serif;  font-size: 2.5rem ; color: #b77b7b;">
                    Take somebody else’s words and make them your own! 
                    <br> 
                     Redefine fate and transform it into a
                    poem completely different from the given text and let your originality brighten the darkness.
                    
                    </h4>
             
              </div>
        </div>
        <!--end of row-->
    </div>
</section>

<!--end of container-->
{% endblock %}

{% block check2ndimage %}
            <section class="cover height-100 imagebg">
                <div class="background-image-holder">
                    <img alt="background" src="{% static 'main/img/poetryrules.png'%}" />
                </div>
            </section>
{% endblock %}
{% block checkregister %}
          <section class="text-center imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-6">
                        <div class="cta">
                            <h2 class="h1 type--uppercase">
                                <em>
                                    <strong>Come register for an event 
                                        <br class="hidden-sm hidden-xs"> (&hellip;or two)</strong>
                                </em>
                            </h2>
                            <p class="lead">
                                First create an account or login if you aldready do have one. Then, Register duh
                            </p>
                            <a class="btn btn--primary type--uppercase" href="#">
                                <span class="btn__text">
                                    Register 
                                </span>
                              
                            </a>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
         </section>
{% endblock %}